

# OOP_Notes
# UML_Diagrams

# SOLID_SRP_OCP_LSP
# SOLID_ISP_DIP
# lld_Solid_SRP_OCP_LSP
# lld_Solid_ISP_DIP

# Singleton_Pattern
# Factory_Pattern
# Factory_Pattern_Extended
# AbstractFactory
# Builder_Pattern
Builder_Pattern_Advanced
Prototype_Pattern

Adapter_Pattern
Bridge_Pattern
Composite_Pattern
Decorator_Pattern
Facade_Pattern
Facade_Pattern_Extended
Flyweight_Pattern
Proxy_Pattern

Strategy_Pattern
Observer_Pattern
Command_Pattern
Template_Method_Pattern
Chain_of_Responsibility
Iterator_Pattern
State_Pattern_Vending_Machine
Mediator_Pattern
Memento_Pattern
Visitor_Pattern

Design_Patterns_Notes

lld_Music_Player
lld_Payment_Gateway
lld_Discount_Coupon
lld_Zepto_Clone
lld_Tinder_Clone
lld_Splitwise
lld_Tic_Tac_Toe
lld_Snake_And_Ladder
lld_Chess

PracticeProblems